<form action="/post" method="post">

<label for="">Title</label>
<input type="text" name="title" id="">

<label for="">Description</label>
<input type="text" name="description" id="">

<input type="text" name="user" value="{{_id}}">

<button type="submit">Create Post</button>
</form>